// Temporariliy disable the sync button
.omni .modal {
    background: rgba(0, 0, 0, 0.45);
}

/*
    .dataCard {
    padding: 0px 0px 30px;
}
*/

.error {
    border: 1px solid var(--gradient-gradient-error, #DF5678) !important;
}

.omni .message-header {
    background: var(--core-color-core-light, #FFF) !important;
    padding: 6px 24px 6px !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.omni .message.is-info .message-header,
.omni .message-header {
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    font-family: var(--family-sans-serif);
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0.043px;
}

.omni .message-header+.message-body {
    border-top: 1px solid rgba(237, 240, 245, 1) !important;
}

.omni .message .message-body:not(.is-template-modal) {
    padding: 30px 24px 40px !important;
}

.omni .is-template-modal.message-body {
    padding: 16px 0 40px !important;
    border: none !important;
}

.font-gr-14 {
    color: var(--core-color-core-medium, #A2A9AD);
    font-family: var(--family-sans-serif);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.043px;
}

.font-bl-11 {
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    font-family: var(--family-sans-serif);
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 15px !important;
    letter-spacing: 0.026px !important;
}
.omni .inputfield{
    width: 100%;
}

.reqd-text {
    color: var(--core-color-core-dark-100, #3B3E3F);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.032px;
}

.error-msg {
    font-family: var(--family-sans-serif);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 3px 0px 8px 16px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-wrap: wrap;
    letter-spacing: 0.032px;
    line-height: 12px;
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
}

.error-icon omni-icon {
    fill: rgba(223, 86, 120, 1);
    font-size: 14px;
}

.dataCard .label {
    text-transform: none !important;
}

.input-length-badge {
    color: var(--core-color-core-dark-100, #3B3E3F);
    font-size: var(--Font-size-xs, 12px);
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.input-length-badge omni-icon {
    fill: rgba(155, 55, 60, 1);
}

.runconfig-checkbox {
    margin-top: 16px;
}

.runconfig-checkbox label {
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    font-family: var(--family-sans-serif);
    font-size: 14px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 20px !important;
    letter-spacing: 0.043px;
    margin-bottom: 0px !important;
    text-transform: none !important;
}



.omni .button.save-version:disabled,
.omni .button.save-version[disabled],
fieldset[disabled] .omni .button.save-version.is-outlined {
    background: var(--core-color-core-medium-two, #F1F5FA) !important;
    border: none;
    color: var(--core-color-core-medium, #A2A9AD) !important;
    opacity: 1;
}

.dataCard .label-container label {
    color: var(--core-color-core-dark-100, #3B3E3F);
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.026px;
    opacity: 0.6;
    margin-bottom: 8px !important;
    margin-left: 7px !important;
}

.dialog-font-12 {
    color: var(--text-neutral-default, #242526) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 12px !important;
    margin-bottom: 4px ;
    margin-left: 8px !important;
}

@media screen and (min-width: 769px) {
    omni-modal::part(dialog) {
        width: 506px !important;
    }
}

@media screen and (max-width: 650px) {
    omni-modal::part(dialog) {
        width: 433px !important;
    }
}

.fixed-size-small {
    font-size: 12px !important;
}

.omni .message .is-template-modal.message-body .no-capital> :not(input) {
    margin-left: -0.5em !important;
}

.omni .run-config-dialog .message-header {
    padding: 6px 16px 6px !important;
}

.omni .run-config-dialog .message .message-body {
    padding: 20px 24px !important
}

.omni .run-config-dialog .message .message-footer {
    padding: 30px 24px 24px;
}