td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    text-transform: uppercase;
    font-weight: 500;

    &:first-child {
        max-width: 400px;
    }

    &:last-child {
        max-width: 200px;
    }
}

// Temporariliy disable the sync button
.disableSync {
    pointer-events: none;

    > omni-icon {
        fill: var(--color-gray-b5) !important;
    }
}

.hidden {
    display: none;
}


.alignLeftContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.alignCenterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    background-color: rgb(245, 248, 251);
    padding: 1.2rem 0;
}

// Table footer
.count {
    color: var(--color-shark);
    font-weight: normal;
    text-transform: none;
}

.tableFooterContainer {
    align-items: center;
    background-color: #f5f8fb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 17px 30px;
    width: auto;
}

omni-table::part(table-header-actions) {
    text-align: center;
}

omni-toolbar {
    height: 42px;

    h4 {
        line-height: 16px;
    }
}

#toolbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

//omni-table::part(table-header-cell), omni-table::part(table-body-cell) {
//    padding-left: 24px !important;
//}

.app-container-fb {
    padding-left: 40px;
    padding-right: 40px;

    #body {
        padding: 0px !important;
    }
}

omni-tile.app-container-fb::part(body-slot) {
    padding: 0px !important;
}

omni-table::part(omni-icon-disabled) {
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
    color: var(--color-core-medium);
    opacity: 0.5;
    pointer-events: none;
}

.h-24 {
    height: 2em !important
}

.fixed-size-xtra-small {
    font-size: 11.4px !important
}

omni-search.search-sm::part(search-icon-closed), omni-search.search-sm::part(search-icon-opened), omni-search.search-sm::part(x-icon) {
    width: 14px !important;
    height: 14px !important;
}

.omni .button.is-outlined {
    padding: 4px 14px !important
}

.btn-tab-active {
    color: var(--Core-color-core-light, #FFF) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 14px !important;
    letter-spacing: 0.028px !important;
}

.ft-black {
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 14px !important;
    letter-spacing: 0.028px !important;
}
//.modal-header {
//    padding: 8px 24px;
//    background-color: var(--core-color-core-light, #FFF);
//    border-bottom: 1px solid var(--Core-color-border, #EDF0F5);
//}
.modal-header .title {
    color: var(--core-color-core-dark-100, #3B3E3F);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0.043px !important;
    text-transform: none;
}
.fb-bold{

    font-weight: 600 !important;
}
.omni .box{
    padding:16px 24px !important;
}
.text-msg {
    color: var(--Core-color-core-medium, #A2A9AD);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.043px;
}

.template-name-label {
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    font-size: .7857142857rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: .9285714286rem !important;
    letter-spacing: 0.026px !important;
    opacity: 0.6;
}


.text-name {
    color: var(--legacy-core-color-core-dark-100, #3B3E3F);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.043px;
}
.component {
    color: var(--Legacy-Core-color-core-medium, #A2A9AD);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.043px;
    opacity: 0.6;
}
.component-name {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.043px;
}
.omni .modal-input {
    padding: 0px 16px;
    color: var(--core-color-core-dark-100, #3B3E3F) !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 22px !important;
    letter-spacing: 0.043px !important;
}
.omni .button:disabled, .omni .button[disabled], fieldset[disabled] .omni .button {
    background-color: var(--color-core-medium-two) !important;
}
.omni omni-search::part(input) {
    width: auto !important;
}
.sent-recieved-info {
    color: #3B3E3F;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.043px;
    display:flex;
    align-items:center;
}
.shared-indicator {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 2px 6px 0px !important;
}

.shared-indicator.Shared {
    background: #03BBE3;
}

.shared-indicator.Recieved {
    background: #1A8978;
}
omni-modal.dialog-500px::part(dialog){
    width:500px !important;
    background-color: #fff !important;
}

.row-action-container {
    margin-right: 0.6vw;
}

// Button container spacing
.report-button-container {
    margin-right: 0.6vw;
}

// Button height
.report-button-height {
    height: 1.42em;
}

// Action button container spacing
.action-button-container {
    margin-right: 0.6vw;
}

// Action button height
.action-button-height {
    height: 1.21em;
}
.body-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.font-lg-bold {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}