.iconSpace {
    width: 3rem;
}

.extraSmallPadding {
    padding: 0.6rem 0.5rem !important;
}

.overlay-table {
    padding: 0 !important;
    background-color: transparent !important;
    margin-bottom: 0;
}

.overlay-table-data {
    border: none !important;
    padding-bottom: 0 !important;
}

.overlay-table-row {
    border: none !important;
}