#root {
    // max-width: 1280px;
    width: 100%;
}

omni-app-layout::part(grid) {
    grid-template-columns: var(--omni-app-layout-drawer-closed-width, 0px) calc( var(--omni-app-layout-drawer-width, 300px) - var(--omni-app-layout-drawer-closed-width, 0px) ) 1fr var(--omni-app-layout-end-drawer-width, 300px);
}

.notistack-SnackbarContainer {
    top: 60px !important;
}


@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
// div#drawer{
//   display: none !important;
//   // background-color: rgb(var(--rgb-primary)) !important;
// }
.fb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;

    h1 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    .dropdownVersionActions {
        position: relative;

        .dropdown-trigger .button {
            font-size: 18px;
            margin-top: -22px;
            //margin-left: -80px;
            cursor: pointer;
        }

        .dropdown-trigger .button omni-tooltip {          
            //margin-left: -80px;
        }

        .dropdown-menu {
            position: absolute;
            right: 0;
            background-color: white;
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            max-width: 150px;
            padding: 0px;
            top: 100%;
            left: 50%;
            width: 50px;
        }
    }
}

.fliter-menu-position {
    top: 16% !important;
    right: 60px !important;
    left: auto !important;
    width: 50px;
}

.fill-color {
    fill: #00a1d2 !important;
}

omni-loading-indicator {
    position: fixed;
    width: 100% !important;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
    z-index: 999;
}


.message-header {
    font-family: var(--family-sans-serif) !important;
}
