omni-tile {
    margin-bottom: 1rem;
}

omni-tile.item .title {
    color: var(--color-electric-blue) !important
}

.item-wrapper {
    height: calc(100vh - 200px) !important;
    overflow: auto;
}

.warning {
    border: 1px solid #fed882 !important;
    border-radius: 10px !important;
}

.box #body{
    padding:16px !important;
}

.calc-margin-tab {
    margin: 0 calc(var(--omni-toolbar-gap, 12px) / 2) !important;
}