.isDragging {
  top: auto !important;
  left: auto !important;
}

.omni .table {
    background-color: #fff !important;
}
.omni .table thead {
    background-color: #fff !important;
}
.component-title {
    color: #3B3E3F;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.043px;
    margin:0;
}
.omni .table td, .omni .table th {
    border: 1px solid rgb(252 253 255) !important;
}
.component-sub-title, .calendar-date label span {
    color: var(--core-color-core-dark-100, #3B3E3F);
    font-size: 11px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.026px; 
}
.omni .table thead td {
    color: #3B3E3F;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.032px;
}
.omni .table tbody {
    position: relative;
    z-index: 10 !important;
}
.dropdown-container {
    z-index: 10 !important;
}
.table.calendar-rows tr, .table.calendar-rows td{
    position: static;
    overflow: unset;
}