.theme-section-container {
    min-height: 25px;    
    border-color: #ededed;
}

.theme-section {
    align-items: center;
    cursor: pointer;
}
omni-tile.section-container::part(body-slot) {
    padding: 18px 18px 0px !important;
}
omni-tile.section-container::part(header-slot){
    border-bottom:0px
}
omni-toolbar.theme-toolbar {
    border-radius: 6px;
    padding: 12px 12px 0px;
}
omni-toolbar.theme-toolbar::part(toolbar){
padding:0px !important;
min-height:inherit;
}