.spinner omni-icon {

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/** CUSTOM GLOBAL CSS */
omni-tile.active {
    border: 1px solid var(--color-electric-blue);
    border-radius: 10px;
}
.omni #sessionModal .modal-content {
    width: 60% !important;
}

.omni #sessionModal .message .message-header {
    padding: 1rem 1rem 1rem 1rem;
}


.error-msg {
    font-family: var(--family-sans-serif);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 3px 0px 8px 16px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-wrap: wrap;
    letter-spacing: 0.032px;
    line-height: 12px;
}

.error-icon omni-icon {
    fill: rgba(223, 86, 120, 1);
    font-size: 14px;
}

.error {
    border: 1px solid var(--gradient-gradient-error, #DF5678) !important;
}
.omni .toolbar-header a {
/*    color: var(--main-color-primary-100, #00A1D2);*/
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.038px;
}

.omni .toolbar-header a.disabled {
    color: var(--core-color-core-medium, #A2A9AD);
    pointer-events:none;
}

.omni .no-capital {
    text-transform: none !important;
}

.message-body .input-label-top {
    padding-top: 24px;
    font-family: var(--family-sans-serif);
    font-size: 11px;
    color: var(--core-color-core-dark-100, #3B3E3F);
    line-height: 15px;
}

.message-body label:first-child {
    font-family: var(--family-sans-serif);
    font-size: 14px;
    color: var(--core-color-core-medium, #A2A9AD);
    line-height:19px;
}