.font-semi-bold {
    color: var(--text-neutral-default, #242526);
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: 0.043px;
}
.add-position{
    position:relative;
    top:-8px;
}
