{
  "name": "@omniflow/omni-webapi",
  "version": "{{npmVersion}}",
  "description": "OpenAPI client for {{npmName}} version {{npmVersion}}",
  "author": "OpenAPI-Generator Contributors",
  "keywords": [
    "axios",
    "typescript",
    "openapi-client",
    "openapi-generator",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "prepublishOnly": "npm run build",
    "publish:package": "npm pack && npm publish --registry https://pkgs.dev.azure.com/omc-ia/_packaging/omniflow/npm/registry/"
  },
  "dependencies": {
    "axios": "1.10.0"
  },
  "devDependencies": {
    "@types/node": "^22.13.9",
    "typescript": "^5.8.2"
  }
  {{! ,
  "publishConfig": {
    "registry": "https://pkgs.dev.azure.com/t4m-trans4mation/_packaging/T4M-NPM-Packages/npm/registry/"
  } }}
  {{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }
{{/npmRepository}}
}
